.navbar {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: black;
    padding: 0px 1rem;
    display: flex;
    align-items: center;
}

.navbar__logo img {
    margin: 0;
    width: 200px;
    height: 50px;
    align: center;
}

.navbar__items {
    margin: 0 auto;
}

.navbar__login {
    width: 300px;
}

.navbar__item ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px;
    align-items: center;
    background: white;
}

.navbar__item li
{
    padding: 10px 0 0 0;
    margin: 0 2rem;
    height: 30px;
    text-align: center;
    min-width: 50px;
}

.navbar__item li:hover {
    background: #efefef;
}

.navbar__item a,
.navbar__item button 
{
    margin: 0;
    text-decoration: none;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
}
